module.exports =
`<% _.each(comments, function(comment){ %>
  <div class="m-comment">
    <div class="m-user">

      <div class="user-avatar" style="background-image:url('<%=comment.commentator.avatar_url || '../../img/logo.png'%>')"></div>
    </div>
    <div class="right-content">
      <div class="username"><%= comment.commentator.username %></div>
      <p class="m-content"><%- comment.content %></p>
      <div class="m-vote-wrapper">
        <span>赞同</span>
        <i class="vote upvote upvote-<%= comment.user_upvoted %>" id="upvote_<%= comment.id %>" data-id="<%= comment.id%>">
          <span><%= comment.upvote %></span>
        </i>
        <span>反对</span>
        <i class="vote downvote downvote-<%= comment.user_downvoted %>" id="downvote_<%= comment.id %>"  data-id="<%= comment.id%>">
          <span><%= comment.downvote %></span>
        </i>
      </div>
    </div>
  </div>
<% }) %>
`;
