module.exports =
[
`<div class="g__filter-result-wrapper">
  <div class="school-poster" style="background-image:url('../../img/aaa.jpeg')">
    <span class="school-poster-tip"></span>
  </div>
</div>

<div class="g__filter-result-wrapper">
  <div class="school-header">
    <div class="school-avatar" style="background-image:url('<%= school.icon_url %>')">
    </div>
    <div class="school-right">
      <h3><%- school.name %></h3>
      <div class="tags-wrapper">
        <% _.each(school.tags, function(tag,i){ %>
          <span class="tag"><%- tag %></span>
        <% }) %>
      </div>
    </div>
    <button class="unlock-all">
      解锁全部资料
    </button>
  </div>
</div>

<div class="g__filter-result-wrapper school-section-link-wrapper">
  <a class="active" href="/XBT/html/layout/school_colleges.html?school_id=<%= school.id %>">视频</a>
  <a href="/XBT/html/layout/school_detail.html?school_id=<%= school.id %>">简介</a>
  <a href="/XBT/html/layout/school_majors.html?school_id=<%= school.id %>">录取</a>
</div>

<div class="g__filter-result-wrapper school-detail-main-content __lines__table" id="m_major_list_wrapper">
<!-- 学校实际内容 -->
<!-- 学校实际内容 -->
</div>
`,

`
<% if(!colleges || colleges.length == 0) { %> 对不起,目前再是没有该院校的学院视频资料~ <% } %>
<% _.each(colleges, function(c){ %>

<a href="javascript:;" class="m_major m_college">
    <div class="m_text"><%= c.name %></div>
</a>
<% }) %>
`,
`
<h4><%= college %></h4>
<% _.each(videos, function(v){ %>
<div  class="video-list-item">
  <% var url = '/XBT/html/layout/video.html?school_id='+school_id+'&v_id='+v.id+'&title='+v.title+'&poster='+v.poster_url; %>
    <a href="<%= url %>" class="poster" target="_blank" style="background-image:url('<%= v.poster_url %>')">
    </a>
    <div class="right-video-info">

      <div class="title-row">
        <a target="_blank" href="<%= url %>" ><%= v.title %></a>
        <% if(!v.is_free){%>
          <span class="should-pay">付费观看</span>
        <%}else{%>
          <span class="free-play">免费观看</span>
        <%}%>
      </div>

      <div class="video-other-info">
        <span>视频时长:</span>
        <span><%= v.duration %></span>
      </div>

      <div class="video-intro">
        <p>
          <%= v.desc.decodeHTML() %>
          <br/>啊啊啊大家闪开他要换行啦
        </p>
      </div>

    </div>
</div>
<% }) %>
`
];
