module.exports =
[
`<div class="g__filter-result-wrapper">
  <div class="school-video" style="background-image:url('<% poster %>')">
    <h4><%- title%></h4>
    <iframe src="/XBT/html/player/player.html?v_id=<%= video_id %>&h=600" frameborder="0" width="100%" height="600"></iframe>
  </div>
</div>



<div class="g__filter-result-wrapper">
  <div class="school-header">
    <div class="school-avatar" style="background-image:url('<%= school.icon_url %>')">
    </div>
    <div class="school-right">
      <h3><%- school.name %> </h3>
      <div class="tags-wrapper">
        <% _.each(school.tags, function(tag,i){ %>
          <span class="tag"><%- tag %></span>
        <% }) %>
      </div>
    </div>
    <button class="unlock-all">
      解锁全部资料
    </button>
  </div>
</div>


<div class="g__filter-result-wrapper  comment-input-wrapper" id="comment_input_wrapper">
<!-- 学校实际内容 -->
<!-- 学校实际内容 -->

  <textarea name="comment" id="comment_input" class="form-control comment-input" placeholder="写下你想说的评论吧~"></textarea>

  <button type="button" name="button" class="btn btn-primary cn" id="comment_btn">发表评论</button>


</div>


<div class="g__filter-result-wrapper  comment-input-wrapper">
<!-- 学校实际内容 -->
<!-- 学校实际内容 -->
  <h4>评论区</h4>

  <div class="comment-section"  id="comment_wrapper" >

  </div>

</div>

`,
`
<% _.each(comment,function(c) {%>
<% }) %>
`
,
`
<% if(!colleges || colleges.length == 0) { %> 对不起,目前再是没有该院校的学院视频资料~ <% } %>
<% _.each(colleges, function(c){ %>

<a href="javascript:;" class="m_major m_college">
    <div class="m_text"><%= c.name %></div>
</a>
<% }) %>
`,
`
<h4><%= college %></h4>
<% _.each(videos, function(v){ %>
<div  class="video-list-item">
    <a href="/XBT/html/layout/video.html?v_id=<%= v.id %>" class="poster" target="_blank" style="background-image:url('<%= v.poster_url %>')">
    </a>
    <div class="right-video-info">

      <div class="title-row">
        <a target="_blank"  href="/XBT/html/layout/video.html?v_id=<%= v.id %>"><%= v.title %></a>
        <% if(!v.is_free){%>
          <span class="should-pay">付费观看</span>
        <%}else{%>
          <span class="free-play">免费观看</span>
        <%}%>
      </div>

      <div class="video-other-info">
        <span>视频时长:</span>
        <span><%= v.duration %></span>
      </div>

      <div class="video-intro">
        <p>
          <%= v.desc.decodeHTML() %>
          <br/>啊啊啊大家闪开他要换行啦
        </p>
      </div>

    </div>
</div>
<% }) %>
`
];
